**/build
**/target
**/.gradle
.git
.idea
androidApp
desktopApp
iosApp
shared
shared-ui
webAdmin
docs
deploy
*.md
.env
data
.gcloudignore
scripts
*.log
dashboard/node_modules
dashboard/dist
dashboard/.angular
dashboard/src/app/api/generated
