.gradle/
build/
*/build/
**/build/
local.properties
.idea/
*.iml
.DS_Store
.env
*.keystore
xcuserdata/
iosApp/Pods/
server/uploads/
captures/
.kotlin/
server/data/
data/
target/
.firebaserc
iosApp/build/
